* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("ToDo.png");
    background-size: cover;
    background-position: center;
}
header{
    width: 100%;
    position:sticky;
    top: 0;
    z-index: 1;
    background: transparent;
}
header .containr{
    height:10vh;
    width: 100%;
    margin: 0 auto;
    padding:0 50px;
}
.logo{
    display: flex;
    gap: 14px;
    align-items: center;
}
.logo img{
    height: 35px;
    width: 30px;
}
.logo p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 550;
    cursor: default;
}
a{
    text-decoration: none;
    color: rgba(20, 11, 18, 0.97);
}
ul{
    display: flex;
    gap: 14px;
    list-style: none;
}
li{
    font-size: 20px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
}
.main{
    width: 100%;
    height:90vh;
    position: absolute;
}
.main img{
    display: block;
    margin: auto;
    height: 100%;
    filter: drop-shadow(20px 20px 40px rgb(0, 0, 0));
}
.content{
    width: 95%;
    height: 90%;
    display:block;
    margin:auto;
    position: absolute;
    top: 0;
    left: 0;
}
.content .container{
    justify-content:center;
    display: flex;
    flex-direction: column;
    width: 110px;
    margin: auto;
    height: 110%;
}
.todo_value{
    cursor: inherit;
    background: transparent;
    border: none;
    outline: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: bold;
    flex-grow: 10;
    border-bottom: 3px solid rgb(94,41,21);
}
.todo_checkbox{
    cursor: inherit;
}
.todo:has(.todo_checkbox:checked){
    color: rgb(60, 41, 28);
    background: rgba(31, 29, 29, 0.13);
    text-decoration: line-through 2.5px;
}